* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(135deg, #000000, #1a1a1a);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.toasterContainer{
    position: fixed;
    bottom: 15px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toasterMessage{
    padding: 2vh;
    color: rgb(180, 180, 180);
    border-radius: 11px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
    background: linear-gradient(135deg, rgb(40, 40, 40), rgb(28, 28, 28));
}

.container1 {
    width: 15vw;
    height: 8vh;
    background: linear-gradient(135deg, rgb(28, 28, 28), rgb(19, 19, 19));
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);

}

.heading {
    color: white;
    font-family: math;
    font-size: 1.3rem;
    position: absolute;
    top: 38vh;
}
button{
    width: 100%;
    background: none;
    border: none;
    color: white;
    font-size: 13px;
}
