* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode';
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#main {
    display: flex;
    gap: 3vw;
    align-items: center;
    background: #2b2b2b;
    padding: 2.5vw;
    border-radius: 18px;
    width: 35vw;
    height: 20vw;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

#heading {
    font-size: 2.2vw;
    margin-bottom: 0.4vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

input {
    padding: 0.8vw;
    border-radius: 12px;
    border: none;
    background: #111;
    color: white;
    font-size: 0.9vw;
    transition: 0.2s;
}

input::placeholder {
    color: #8a8a8a;
}

input:focus {
    background: #1a1a1a;
}

input[type="submit"] {
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.8vw;
}

input[type="submit"]:hover {
    background: #d6d6d6;
}

form .error{
    display: none;
    font-size: 0.8vw;
    color: red;
}

form .remark{
    font-size: 0.8vw;
    display: none;
}