* {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue";
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #000000, #1a1a1a);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#heading {
    color: white;
    font-size: 2.8vw;
}

input {
    padding: 0.8vw;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 0.9vw;
    transition: 0.2s;
    background: #111;
}

input::placeholder {
    color: #8a8a8a;

}

#entries {
    min-height: 15vw;
    display: flex;
    align-items: center;
    gap: 1.2vw;
}

.box {
    width: 10vw;
    height: 15vw;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.dp {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    position: absolute;
    bottom: 0.7vw;
    z-index: 2;
    margin-left: 0.4vw;
}

.name {
    font-size: 1vw;
    color: aliceblue;
}

.bio {
    font-size: 0.8vw;
    color: aliceblue;
    width: 10vw;
    word-wrap: break-word;
}

.note{
    color: white;
    font-size: 2vw;
}